body {
  background-color: #555555;
}

#sidebar {

  float: left;
  background-color: #666666;
  width: 20%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow-y: auto;

  display: none;
}

#notSound {
  display: none;
}

#chatArea {

  float: right;
  background-color: #666666;
  width: 79%;
  height: 100%;
  border-radius: 10px;

  display: none;

}

#msgArea {

  width: 100%;
  height: 95%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #666666;

  position: relative;
	overflow-y: auto;

}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}


#messages{

  /* position: absolute; */

  font-family: sans-serif;
  font-size: 2vw;

  color: white;

  bottom: 0;
  left: 0;
  width: 100%;
}

#msg_true {

  font-family: sans-serif;
  font-size: 2vw;

  color: white;

  width: 100%;
}

#msg_false {

  font-family: sans-serif;
  font-size: 2vw;

  background-color: #666777;


  color: white;

  width: 100%;
}



#msgInput {

  width: 90%;
  height: 5%;
  background-color: #666666;
  border-left: 0px solid black;
  border-right: 0px solid black;
  border-bottom: 0px solid black;
  border-top: 2px solid #555555;
  color: white;
  font-family: sans-serif;
  font-size: 2vw;

}

#imgSender {

  width: 9%;
  height: 5%;
  background-color: #666666;
  border-left: 0px solid black;
  border-right: 0px solid black;
  border-bottom: 0px solid black;
  border-top: 2px solid #555555;
  color: white;
  font-family: sans-serif;
  font-size: 2vw;
}

#msgInput:focus {

  outline:none;

}

#startTitle {

  font-size: 4vw;
  font-family: sans-serif;
  color: white;
  text-align: center;
  margin-top: 15%;

}

#nameBox{

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #555555;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;

  color: white;
  width: 30%;
  height: 10%;
  font-size: 3vw;

}

#nameBox:focus {

  outline:none;

}

#imageArea {

  position: fixed;
  width: 40%;
  height: 20%;
  background-color: #555555;
  left: 42%;
  top: 35%;
  text-align: center;
  border-radius: 4px;
  display: none;

}

#imgInput {

  width: 90%;
  margin-top: 8%;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  background-color: #555555;
  font-family: sans-serif;
  color: white;
  outline: none;
  font-size: 2vw;
}

#imgSubmit {

  background-color: #666666;
  border: 0px;
  width: 20%;
  margin-top: 5%;
  border-radius: 2px;
  color: white;
  font-family: sans-serif;

}

#imgSubmit:hover {

  color: #AAAAAA;

}

#imgSubmit:active {

  background-color: #444444;

}

#imgBox {

  max-width: 60%;

}

.chatHeader {

  width: 100%;
  /* margin-left: 5%; */
  text-align: center;
  height: 20%;
  margin-top: 2%;
  background-color: #666666;

}

.chatButton {

  width: 100%;
  height: 100%;
  background-color: #555555;
  border: 0px;
  /* border-radius: 5%; */
  color: white;
  font-family: sans-serif;
  font-size: 3vw;
  outline: none;

}

.chatButton:hover {

  color: #888888;
  /* animation-name: clicked;
  animation-duration: 1s; */
  font-size: 4vw;

}

.chatButton:active {

  background-color: #444444;

}

@keyframes clicked {

  0% {font-size: 3vw;}
  100% {font-size: 4vw;}

}

#passwordArea {

  position: fixed;
  width: 40%;
  height: 20%;
  background-color: #555555;
  left: 42%;
  top: 35%;
  text-align: center;
  border-radius: 4px;
  display: none;

}

#passwordInput {

  width: 90%;
  margin-top: 8%;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  background-color: #555555;
  font-family: sans-serif;
  color: white;
  outline: none;
  font-size: 2vw;
}

#passwordSubmit {

  background-color: #666666;
  border: 0px;
  width: 20%;
  margin-top: 5%;
  border-radius: 2px;
  color: white;
  font-family: sans-serif;

}

#imgSubmit:hover {

  color: #AAAAAA;

}

#imgSubmit:active {

  background-color: #444444;

}